.container{
    background-color: rgb(248, 91, 91);
    width: 50%;
    margin: auto;
    padding: 5%;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}